In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [6]:
df = pd.read_excel('Flight_Schedule.xlsx')
df.head()

,airline,flightNumber,origin,destination,daysOfWeek,scheduledDepartureTime,scheduledArrivalTime,timezone,validFrom,validTo,lastUpdated
0,GoAir,425,Delhi,Hyderabad,"Sunday,Monday,Tuesday,Wednesday,Thursday,Frida...",05:45:00,NaN,2019-03-30,2018-10-28,2019-03-30,2023-10-03
1,GoAir,423,Delhi,Hyderabad,Saturday,07:30:00,NaN,2018-10-28,2018-10-28,2018-10-28,2023-10-03
2,GoAir,423,Delhi,Hyderabad,Friday,07:30:00,NaN,2018-12-01,2018-11-03,2018-12-01,2023-10-03
3,GoAir,423,Delhi,Hyderabad,Friday,07:30:00,NaN,2019-03-30,2019-02-02,2019-03-30,2023-10-03
4,GoAir,423,Delhi,Hyderabad,"Sunday,Monday,Tuesday,Wednesday,Thursday,Saturday",07:30:00,NaN,2018-11-30,2018-10-29,2018-11-30,2023-10-03